<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Check List</title>
</head>

<body>
    <div class="container">
        <h1 id="title" class="shadows-into-light-regular">Check List</h1>
    </div>
    <script>
        function fadeOutAndRedirect() {
            const title = document.getElementById("title");
            title.classList.add("fade-out");

            setTimeout(() => {
                window.location.href = '/login';
            }, 1000);
        }
        setTimeout(fadeOutAndRedirect, 1500);
    </script>
</body>

</html>